<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
	<meta charset="utf-8">
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script>
  
  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    
    </style>
</th:block>

<div layout:fragment="content">

	<form action="@{'/admin/items/' + ${items.number}}">
		<table>
			<thead>
			</thead>
			<tbody>
				<tr th:each="item, status: ${items.getcontent()}">
					<td th:text = "${item.id}"></td>
					<td>
						<a th:href="'/admin/item' +${item.id}" th:text="${item.itemNm}"></a>
					</td>
					<td th:text="${item.itemSellStatus ==
						T(com.shop.constant.ItemSellStatus).SELL} ? '판매중' : '품절'"> 
					</td>
					<td th:text="${item.cratedBy}"></td>
					<td th:text="${item.regTime}"></td>
				</tr>				
			</tbody>
		</table>
		<!-- 페이지 처리 -->
		
		<!-- 검색 -->
	</form>
    
</div>
</html>
