<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인 페이지</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<!-- menu.html의 nav 태그 삽입 -->
	<div th:replace="menu.html::nav"></div>

	<div id="container">
		<h2>나의 정보</h2>
		<form th:action="@{/signup}" method="post">
			<table class="tbl_login">
				<tbody>
					<tr>
						<td th:text="아이디"></td>
						<td><input type="text" name="id" th:value="${member.id}"></td>
					</tr>
					<tr>
						<td th:text="비밀번호"></td>
						<td><input type="password" name="password" th:value="${member.password}"></td>
					</tr>
					<tr>
						<td th:text="비밀번호확인"></td>
						<td><input type="password" name="password_confirm" th:value="${member.password}"></td>
					</tr>
					<tr>
						<td th:text="이름"></td>
						<td><input type="text" name="name" th:value="${member.name}"></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button type="submit">수정</button>
							<button type="button">탈퇴</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>